html{
    height: 100%;
}
body {
  height: 100%;
}
#root, .container, .row{
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav li *{
  color: black;
}
.particles{
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: -1;
}